<h2>Rules:</h2><br>
#1. Don't be an OOC dick. This includes no spawnkilling. Being an in-character dick is completely fine.
<br>
#2. Don't communicate about the current round outside of the game (in-character communication only).
<br>
#3. Roleplay instead of playing to win. Don't fill your bag up with the entire contents of the armory. Take what you need only. Try talking before shooting, and try non-lethal approaches before finishing people off.
<br>
#4. Try to play your role. You can be a rapist in the ranks of the NCR, but you can't slaughter your underlings nilly-willy as the Overseer.
<br>
#5. OOCly non-consented rape (and other vile acts) are allowed.
<br>
#6. You can respawn when dead, but your character will not remember anything that happened in a previous life. Don't go hunting for your killer or looking for your corpse.
<br>
#7. Alter your character name and appearance when respawning. There's multiple character slots for a reason. Also try to act slightly different. And please don't choose the exact same role again (unless the situation warrants it, such as a war between the NCR and the Legion).
